
body{
	color: #94544b;
	background-image: url(../images/furley_bg.png);
	background-repeat: repeat;
}
.container  {
	padding: 15px 15px 15px 20px;
}
a {
	text-decoration: none;
	color: #FFFBF3;	
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

h1, h2, h3, h4, h6 {
	font-family: 'Fontdiner Swanky', cursive;
	color:#cdc2af;
}
h1 {  
	color:#FFFBF3;
	text-decoration: none;
}

h3, h5 {
	text-align: center;
}

.navbar-default {
	background-color: #cdc2af;
	border-bottom: 2px solid #59938a;
}


.navbar-default .navbar-nav li a {
	color:#FFFBF3;
	padding-top: 30px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    background: #FFFBF3;
	padding-bottom: 15px;
	overflow: hidden;
}
.thumbnail .caption  {
	text-align: center;
}

 footer {
 	padding: 2px;
    background: #cdc2af;
    border-top: 1px solid #8f649d;
}

/*
light FFFBF3
cdc2af beige
59938a green
8f649d purple
94544b redish brown


    font-family: 'Fontdiner Swanky', cursive;

    font-family: 'Arbutus Slab', serif;


default p=14px
h1=36
h2=30
h3=23
h4=18
h5=14
h6=12


*/
